/* cards */
.aboutCard {
    width: clamp(100px, 28rem, 30rem);
    height: clamp(14rem, 16rem, 18rem);
    padding: 2em;
    background-color: #dcd7c9;
    border-color: #2c3930;
    border-radius: 40px;
    box-shadow: 5px 10px #a27b5c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}
/* Card responsiveness */
.aboutCard:hover {
    background-color: #bdb6aa;
    box-shadow: 4px 9px #a27b5c;
}

.aboutCardTitle {
    color: #2c3930;
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 25px !important;
    text-align: left;
    border-bottom: #3f4f44 solid 1px;
    padding-left: 25px;
}

.aboutCardAddress {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    text-align: left !important;
    padding: 10px;
}
.aboutCardPhone {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    padding: 10px;
}
.aboutIcon {
    width: 32px;
    height: 32px;
    margin-top: 10px;
}
.aboutCardDescription {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    text-align: justify;
}
.contentTop:after {
    content: "";
    display: table;
    clear: both;
}
.card-grid {
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    gap: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
}
.contentTop {
    display: flex;
    position: relative;
}
.contentTop div {
    display: flex;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .aboutCard {
        width: 100% !important;
        min-width: 300px;
        height: 100% !important;
        padding: 1em;
        margin: 0 auto;
    }

    .contentTop {
        flex-direction: column;
    }
}
