#root {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
    margin: auto;
}

body {
    background-color: #dcd7c9 !important;
    padding: 100px 0;
}

.card {
    border-color: #2c3930;
    background-color: #dcd7c9;
    border-radius: 20px;
    box-shadow: 5px 10px #a27b5c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    margin-bottom: 2em;
    transition: all 0.3s ease;
}

/* Navbar */
.navbar {
    background-color: #a27b5c;
    color: #2c3930;
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 25px;
    padding-right: 40px !important;
    padding-left: 40px !important;
}
.navBrand {
    margin-right: 4px !important;
}
.navLink {
    margin-right: 8px;
}
.navIcon {
    width: 30px;
}
.navButton {
    background-color: #dcd7c9 !important;
    border: #2c3930 1px solid !important;
    display: inline-block !important;
    box-shadow: 3px 3px #2c3930 !important;
}
.navButton:hover {
    background-color: #bdb6aa !important;
    border-color: #2c3930 !important;
    box-shadow: 2px 2px #3f4f44 !important;
}
.navSwitch .form-check-input {
    transform: rotate(90deg);
    background-color: #dcd7c9;
    border: #2c3930 1px solid;
    width: 40px !important;
    height: 20px;
    float: right;
}
.navbar-toggler {
    float: left;
    align-self: flex-start;
    text-align: left;
    border: #dcd7c9 1px solid !important;
}
/* navbar responsiveness */
.navButton:hover {
    background-color: #bdb6aa !important;
    border-color: #2c3930 !important;
    box-shadow: 2px 2px #3f4f44 !important;
}
.navbar-toggler:hover {
    border: 2px solid #dcd7c9 !important;
    background-color: #dcd7c9 !important;
}
.navSwitch .form-check-input:hover {
    cursor: pointer;
}
.navSwitch .form-check-input:checked {
    background-color: #3f4f44 !important;
    border-color: #3f4f44;
}
.navSwitch .form-check-input:focus {
    border-color: #3f4f44;
    box-shadow: none;
}

/* logos and icons */
.icon {
    width: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2c3930;
    font-family: "Caveat", cursive !important;
    font-weight: bold;
    text-align: left;
    transition: all 0.3s ease;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.875rem;
}

p,
li,
ul,
ol {
    font-family: "Fuzzy Bubbles", sans-serif !important;
    font-weight: 500;
    font-style: normal;
    text-align: justify;
    transition: all 0.3s ease;
}

.cardContainer {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.btn {
    position: relative;
    background-color: #a27b5c;
    border: #2c3930 1px solid;
    box-shadow: 3px 3px #2c3930;
    color: #2d3931;
    transition: all 0.3s ease;
}
.btn:hover {
    border-color: #2c3930;
    background-color: #916e51;
    box-shadow: 2px 2px #2c3930;
}
.btn:active {
    border-color: #2c3930;
}

.cartCount {
    position: absolute;
    bottom: 1px;
    color: white;
    background: black;
    height: 16px;
    line-height: 1;
    padding: 0 6px 0 2px;
    right: 1px;
    font-weight: bold;
    border-radius: 50px;
}
