.checkBox {
    text-align: left;
    width: 20%;
}

.cargoCard {
    width: clamp(14rem, 16rem, 18rem) !important;
    height: 100% !important;
    padding: 1rem !important;
    justify-content: center !important;
}

.cargoCardText {
    display: inline;
    float: left !important;
    width: 100%;
}

.cargoCardTitle {
    margin: 0;
    text-align: center;
}
