:root [dark="true"] {
    .cartItem {
        background-color: #3f4f44;
        border-color: #2c3930;
        box-shadow: 5px 10px #2c3930;
    }
    .modalContent {
        background-color: #3f4f44;
        border-color: #2c3930;
        box-shadow: 5px 10px #2c3930;
    }
}
