/* cards */
:root [dark="true"] {
    /* cards */
    .contactCard {
        background-color: #3f4f44;
        border-color: #2c3930;
        border-radius: 80px;
        box-shadow: 5px 10px #2c3930;
    }
    .contactCardImage {
        align-self: center;
        border-radius: 120px;
        margin-bottom: 15px;
    }
    /* Card responsiveness */
    .contactCard:hover {
        background-color: #334037;
        box-shadow: 4px 9px #2c3930;
    }

    .contactCardTitle {
        color: #a27b5c;
        font-family: "Caveat", cursive;
        font-weight: bold;
        font-size: 25px;
        text-align: center !important;
    }

    .contactCardText {
        font-family: "Delius", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center !important;
    }
}
