:root [dark="true"] {
    .product-panel {
        background: #3f4f44;
        border: #2c3930 2px solid;
    }
    .productTitle {
        color: #a27b5c;
        font-family: "Caveat", cursive !important;
        font-weight: bold;
        font-size: 50px !important;
        text-align: left;
        text-align: center;
    }
}
