.profileCard {
	padding: 2em;
	background-color: #dcd7c9;
	border-color: #2c3930;
	border-radius: 40px;
	box-shadow: 5px 10px #a27b5c;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 100px;
	padding-bottom: 30px;
}

.login {
	text-align: left !important;
}

.loginBtn {
	font-family: "Fuzzy Bubbles", sans-serif !important;
	background-color: #a27b5c !important;
	border: #2c3930 1px solid !important;
	display: inline-block !important;
	box-shadow: 3px 3px #2c3930 !important;
	margin: 5px;
	margin-bottom: 30px;
	padding: 10px;
}
.loginBtn:hover {
	background-color: #a27b5c !important;
	border-color: #2c3930 !important;
	box-shadow: 2px 2px #3f4f44 !important;
}

.profileCard a {
	color: #a27b5c;
}
