.profileCard {
    padding: 3rem !important;
}

.login {
    text-align: left !important;
}

.profileCard a {
    color: #a27b5c;
}

/* Add margin-top to reservation-info class */
.reservation-info {
    margin-top: 20px;
}
.reservation-info p {
    margin-bottom: 0;
}
