/* cards */
:root [dark="true"] {
    /* cards */
    .productCard {
        background-color: #3f4f44;
        border-color: #2c3930;
        border-radius: 20px;
        box-shadow: 5px 10px #2c3930;
    }
    .productCardButton {
        background-color: #dcd7c9;
        border: #dcd7c9 1px solid;
        display: inline;
        float: right;
        box-shadow: 3px 3px #a27b5c;
    }
    .productCardText {
        display: inline;
        float: left;
    }
    .productCardImage {
        align-self: center;
        border-radius: 20px;
        margin-bottom: 15px;
    }
    /* Card responsiveness */
    .productCardButton:hover {
        border-color: #dcd7c9;
        background-color: #dcd7c9 !important;
        box-shadow: 2px 2px #a27b5c;
    }

    .productCard:hover {
        background-color: #334037;
        box-shadow: 4px 9px #2c3930;
    }

    .productCardTitle {
        color: #a27b5c;
        font-family: "Caveat", cursive;
        font-weight: bold;
        font-size: 25px !important;
        text-align: left !important;
    }

    p {
        font-family: "Delius", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: justify;
    }
}
