/* cards */
:root [dark=true] {
    /* cards */
  .aboutCard {
    background-color: #3F4F44;
    border-color: #2C3930;
    box-shadow: 5px 10px #2C3930;
  }
  .aboutCardButton {
  background-color: #DCD7C9;
  border: #DCD7C9 1px solid;
  box-shadow: 3px 3px #A27B5C;
  }
  /* Card responsiveness */
  .aboutCardButton:hover {
  border-color: #DCD7C9;
  background-color: #DCD7C9;
  box-shadow: 2px 2px #A27B5C;
  }
  .aboutCard:hover {
  background-color: #334037;
  box-shadow: 4px 9px #2C3930;
  }


  .aboutCardTitle {
  color: #A27B5C;
  border-bottom: #DCD7C9 solid 1px;
  }

  .aboutCardText {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: justify !important;
  }
    
}
