h1 {
    color: #2C3930;
    font-family: "Caveat", cursive !important;
    font-weight: bold;
    font-size: 40px !important; 
    text-align: left;
  }
p {
    font-family: "Fuzzy Bubbles", sans-serif !important;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    text-align: justify;
  }
.blogParagraph {
    display: flow-root; 
    margin-bottom: 2rem;
    font-size: 1.1rem;
    line-height: 1.7;
  }
  
.blogImage {
    float: right;
    margin-top: 3.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: clamp(300px, 40%, 500px);
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    object-fit: cover;
  }
  
  /* Responsiveness*/
  @media (max-width: 768px) {
    .float-img {
      float: none;
      display: block;
      margin: 1rem auto;
      width: 100%;
      max-width: 100%;
    }
  }
  