/* cards */
.contactCard {
    width: clamp(14rem, 16rem, 18rem);
    height: clamp(21rem, 23rem, 25rem);
    padding: 1em;
    background-color: #DCD7C9;
    border-color: #2C3930;
    border-radius: 80px;
    box-shadow: 5px 10px #A27B5C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactCardImage {
  width: clamp(12rem, 14rem, 16rem);
  align-self: center;
  border-radius: 120px;
  margin-bottom: 15px;
}
/* Card responsiveness */
.contactCardButton:hover {
  border-color: #2C3930;
  background-color: #916e51;
  box-shadow: 2px 2px #2C3930;
}
.contactCard:hover {
  background-color: #bdb6aa;
  box-shadow: 4px 9px #A27B5C;
}


.contactCardTitle {
  color: #2C3930;
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 25px !important; 
  text-align: center;
}

.contactCardText {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center !important;
}

.card-grid {
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr)); 
  gap: 1rem;
  justify-content: center;
  display: flex;
  align-items: center;
}